.header{
  text-align: center;
}

.gridSection{
  text-align: center;
}

.guessInput{
  margin-bottom: 10px;
  background-color: white;
}

.miss{
  background-color: grey;
}

.partial{
  background-color: orange;
}

.fullMatch{
  background-color: green ;
}

.grid-container {
    display: grid;
    border: 1px black;
    padding: 1px;
    width: 75%;
    align-items: center;
    grid-template-columns: repeat(5,20%);
    margin: auto auto;
    
  }
  .grid-container > div {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    padding: 1rem;
    text-align: center;
    display:grid; 
    /* This overrides the red in the pseuodo element */
    place-items: center;
  }

  /* Creates pseudoelement to make grid square */
  .grid-container > div::before {
    content:"";
    padding-top: 100%;
    display: block;
    text-align: center;
    background-color: red;
    grid-area: 1/ 1 /2 /2 
    /* start at column1 row 1 and end at column1 row 1 */
  }

  .grid-container > div > span{
    width:100%;
    grid-area: 1/ 1 /2 /2 ;
    /* So container and text item occupy same space in the "new grid"*/


  }